@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@media (max-width: 768px) {
  .md\\:hidden .flex-row a {
    font-size: 0.9rem; /* Smaller font for mobile links */
    padding: 0.5rem; /* Adjust padding */
  }
}

/* globals.css */

nav {
  width: 100%;
}
nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}